<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>월간 매출액</h1>
    <canvas id="revenueChart"></canvas>
    <canvas id="revenueChart"></canvas>
    <script>
      fetch("/api/chart-data")
        .then((response) => response.json())
        .then((data) => {
          displayGraph(data);
        });

      function displayGraph(data) {
        var labels = data.labels;
        var revenues = data.revenues;
        console.log(labels, revenues);

        var ctx = document.getElementById("revenueChart").getContext("2d");
        var revenueChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Monthly Revenue",
                data: revenues,
                backgroundColor: "rgba(75,192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      }
    </script>
  </body>
</html>
